@import './functions';
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  padding: 0 rem(40);
  .logo {
    cursor: pointer;
    z-index: 500;
    .logo-img {
      width: rem(80);
    }
  }
  .navbar {
    display: block;
    ul {
      display: flex;
      width: 100%;
      align-items: center;
      height: 100%;
      @media screen and (max-width: 850px) {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background: #111111;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        z-index: 50;
        height: 100vh;
      }
      li {
        list-style: none;
        text-align: center;
        display: flex;
        .btn {
          margin: 0 rem(10);
          padding: rem(15) rem(25);
          position: relative;
          font-size: rem(20);
          text-align: center;
          color: $blanco;
          @media screen and (max-width: 850px) {
            display: block;
          }
          &::before {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            //background: $blanco;
            position: absolute;
            left: 50%;
            bottom: 0;
            transition: all ease 0.3s;
            opacity: 0;
          }
          &:hover:before {
            width: 100%;
            left: 0;
            opacity: 1;
          }
        }
        .btn.normal {
          &::before {
            background: $blanco;
          }
        }
        .btn.dark {
          &::before {
            background: $blanco;
            background-image: linear-gradient(
              to right,
              rgba(#439cfb, 1),
              rgba(#f187fb, 1)
            );
          }
        }
        .btn.btn-active::before {
          width: 100%;
          left: 0;
          opacity: 1;
        }
      }
    }
  }
  .contacto {
    font-size: rem(20);
    color: $blanco;
    padding: rem(15) rem(20);
    position: relative;
    margin-left: auto;
    z-index: 500;
    &::after,
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      //background: $blanco;
      position: absolute;
      transition: all ease 0.3s;
      opacity: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &:hover::after {
      right: 0;
      width: 100%;
      opacity: 1;
    }
    &:hover::before {
      width: 100%;
      left: 0;
      opacity: 1;
    }
    @media screen and (max-width: 850px) {
      margin: auto;
    }
  }
  .contacto.normal {
    &::after,
    &::before {
      background: $blanco;
    }
  }
  .contacto.dark {
    &::after,
    &::before {
      background: $blanco;
      background-image: linear-gradient(
        to right,
        rgba(#439cfb, 1),
        rgba(#f187fb, 1)
      );
    }
  }
}
.header.blur {
  background: rgba(#111111, 1);
  transition: background ease 0.3s;
  box-shadow: 0px 2px 25px 2px rgba($color: #000000, $alpha: 0.5);
}
.menu-icon {
  display: none;
  color: $blanco;
  z-index: 100;
  font-size: rem(20);
  cursor: pointer;
  color: $blanco;
  opacity: 1;
  transition: opacity ease 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 850px) {
  .menu-icon {
    display: block;
    margin-left: auto;
  }
  header {
    .navbar {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    .navbar.active {
      display: block;
    }
  }
}
