.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  h2 {
    margin-left: rem(200);
    font-size: rem(64);
    margin-bottom: rem(20);
    text-shadow: 5px 5px 15px #000000;
  }
  h2.blanco {
    color: $blanco;
  }
  .container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img {
      position: relative;
      width: rem(800);
      height: rem(400);
      overflow: hidden;
      box-shadow: 0 25px 35px rgba(#000000, 0.5);
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(15);
      }
    }
    .content {
      position: absolute;
      padding: rem(40);
      background: rgba(#333333, 0.4);
      border-radius: rem(15);
      backdrop-filter: blur(15px);
      z-index: 1;
      color: $blanco;
      box-shadow: 0 25px 35px rgba(#000000, 0.7);
    }
  }
}
.anim {
  opacity: 0;
}

@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes top-to-bottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
